* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	font-family: 'Open Sans', Arial, sans-serif;
}
.header {
	background-image: url("../images/header_bg.jpg");
	background-size: cover;
	width: 100%;
	height: 700px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}
.getitnow {
	color: #033048;
	font-size: 28px;
	font-weight: 800;
	padding: 11px 56px 11px 56px;
	background: #f9e42e;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.benefits {
	padding-left: 120px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f0efef;
}
h1 {
	font-weight: 800;
	font-size: 48px;
	color: #fff;
	text-align: left;
	padding-left: 120px;
}
h2 {
	font-size: 48px;
	font-weight: 600;
	padding-top: 128px;
	padding-bottom: 90px;
	text-align: center;
	color: #fff;
}
h3 {
	font-size: 40px;
	font-weight: 600;
	color: #033048;
}
h4 {
	font-weight: 800;
	font-size: 48px;
	color: #f9e42e;
	margin: 0px;
	padding-bottom: 40px;
}
p {
	font-size: 26px;
	font-weight: 300;
	color: #606161;
	line-height: 38px;
}
ul {
	font-size: 26px;
	font-weight: 300;
	color: #606161;
	line-height: 38px;
	list-style-type: disc;
}
.benefits p {
	width: 640px;
}
.benefits ul {
	width: 640px;
}
.quote {
	background-image: url("../images/testimonial_bg.jpg");
	background-size: cover;
	width: 100%;
	text-align: center;
	padding: 60px 300px 60px 300px;
	line-height: 36px;
}
.quote p {
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
}
#attribution {
	font-size: 36px;
	font-weight: 600;
	font-style: normal;
	margin: 6px;
}
.bar {
	background-color: #f9e42e;
	padding-top: 60px;
	padding-bottom: 60px;
	text-align: center;
	margin: 0 auto;
}
.signupnow {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	padding: 11px 56px 11px 56px;
	background: #033048;
	border-radius: 5px;
	text-decoration: none;
	text-align: center;
}
.footer {
	text-align: center;
	background-color: #121212;
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 0 auto;
}
.footer p {
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 40px;
}
.footer a {
	padding-left: 25px;
	padding-right: 25px;
}



